* {
    box-sizing: border-box;
    font-family: 'Prosto One';
}

html {
}

body {
    background-color: #FFFFED;

}

.document-container {
    width: min(90%, 100rem);
    margin-inline: auto;
}

header {

}

main {
}

.header-text {
    letter-spacing: .3rem;
    font-size: 14px;
}

.header-home {
}

.header-press {
}

.header-contact {
}

.lower-header-container, .footer-container {

}

.header-divider, .footer-divider {
    height: 2px;
    border-bottom: 2px solid #312313;
}

.titles {
    font-size: 14px;
    letter-spacing: .05rem;
}

.card {
}

.footer-container {

}

.macvittie-motorcycles-text {

}