* {
    box-sizing: border-box;
    font-family: 'Prosto One';
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: #FFFFED;
    width: 100svw;
    width: 100vw;
    height: 100svh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.document-container {
    width: min(90vw, 100vw);
    width: min(90svw, 100svw);
    height: min(90vh, 100svh);
    height: min(90svh, 100svh);
    display: flex;
    flex-direction: column;

}

.main-header-container {
}

.upper-header-container {
    display: flex;
    justify-content: center;
}

.header-text {
    letter-spacing: .3rem;
    font-size: 14px;
}

.header-home {
    margin-left: -1.4rem;
}

.header-press {
}

.header-contact {
}

.lower-header-container{
    display: flex;
    justify-content: space-between;
}

.lower-header-container, .footer-container {
}

.header-divider, .footer-divider {
    height: .125rem;
    border-bottom: .125rem solid #312313;
}

.main-section {
    display: flex;
    border-left: .125rem solid #312313;
    border-right: .125rem solid #312313;
    margin: 3% 0;

}

.bikes-container {
    display: flex;
    flex: 1 1 0;
    width: min(90%, 40rem);
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.titles {
    font-size: .875rem;
    letter-spacing: .05rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: min(100%,75rem);
    width: min(25%, 20rem);
}

.img-wrapper {
    height: min(75svh, 46.875rem);
    overflow: hidden;
}

.feature-1-container {
}

.cosmic-hero {
    object-position: right;
}

.feature-3-container {
}

.hero-img {
    height: 100%;
}

.cosmic-hero-img {
}

.cosmic-text {
    align-self: flex-end;
}

.divider {
    border: solid black .0625rem;
    height: 65%;
}


.footer-container {

}

.macvittie-motorcycles-text {
    margin-bottom: 0;
    letter-spacing: ;
}