* {
    box-sizing: border-box;
    font-family: 'Prosto One';
}

html {
    padding: 0;
    margin: 0;
    width: 100svw;
    width: 100vw;
    height: 100svh;
    height: 100vh;
}

body {
    margin: 0;
    background-color: #FFFFED;
    width: 100svw;
    width: 100vw;
    height: 100svh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.document-container {
    width: 86vw;
    width: 86svw;
    height: 95svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.upper-header-container {
    display: flex;
    justify-content: center;
}

.header-text {
    letter-spacing: .3rem;
    font-size: 14px;
    padding: .35rem 0;
}

.header-text:hover {
    transform: scale(1.1);
}

.header-press {
    margin-left: 1.15rem;
}


.header-contact {
    margin-right: -.3rem;
}


.lower-header-container{
    display: flex;
    justify-content: space-between;
}



.header-divider, .footer-divider {
    border-bottom: .125rem solid #312313;
}

.main-section {
    display: flex;
    border-left: .125rem solid #312313;
    border-right: .125rem solid #312313;
    margin: 3% 0;
    height: 75%;

}

.content-container {
    height: 100%;
}

.bikes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}

.titles {
    font-size: clamp(.5rem, 1rem, 1.5rem);
    letter-spacing: .05rem;
}

.card {
    display: flex;
    flex-direction: column;
    height: min(100%,75rem);
}

.img-wrapper:hover {
    transform: scale(1.02);
}

.img-wrapper {
    overflow: hidden;
    border-radius: 5px;
}

.cosmic-hero {
    object-position: right;
}

.hero-img {
    max-height: 100%;
    max-width: 100%;
}

.cosmic-text, .mint-chip-text, .sapphire-text {
    align-self: flex-end;
    padding-top: 1.5%;
}

.cb350-text, .cb550f-text, .xs650-text {
    padding-bottom: 1.5%;
}

.divider {
    border: solid black .063rem;
    margin: 0 2%;
    height: 30rem;
}


.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.macvittie-motorcycles-text {
    margin-top: 0;
    margin-bottom: .35rem;
    align-self: center;
}








/* 
MEDIA QUERIES 
*/


@media (max-width: 2000px) {
    .divider {
        height: 20rem;
    }
}



@media (min-width: 1282px) {

    .macvittie-motorcycles-text {
        letter-spacing: 2.5vw;
    }
}

@media (max-width:1281px) {
    .macvittie-motorcycles-text {
        letter-spacing: 2.3vw;
    }
}

@media (max-width:1250px)  {

    .main-section {
        justify-content: center;
        align-items: center;
    }

    .centering-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .bikes-container {
        flex-direction: column;
    }

    .img-wrapper {
        max-height: 15svh;
    }

    .hero-img {
        max-height: none;
    }

    .divider {
        width: 65%;
        height: 0rem;
        margin: 1.5vh 0;
    }


    .macvittie-motorcycles-text {
        letter-spacing: 2vw;
    }

}



@media (max-width:1002px) {
    .macvittie-motorcycles-text {
        letter-spacing: 1.75vw;
    }
}

@media (max-width: 904px) {
    .macvittie-motorcycles-text {
        letter-spacing: 1.5vw;
    }
}

@media (max-width: 823px) {
    .macvittie-motorcycles-text {
        letter-spacing: 1.25vw;
    }
}

@media (max-width: 756px) {
    .macvittie-motorcycles-text {
        letter-spacing: 1vw;
    }
}

@media (max-width: 698px) {
    .macvittie-motorcycles-text {
        letter-spacing: .75vw;
    }
}

@media (max-width: 660px) {

    .header-text {
        letter-spacing: .23rem;
    }

    .macvittie-motorcycles-text {
        font-size: 1.75rem;
    }

}

@media (max-width: 568px) {

    .main-section {
        margin: 6% 0;
    }

    .macvittie-motorcycles-text {
        font-size: 1.5rem;
        
    }

    .divider {
        margin: 2.5vh 0;
    }
}



@media (max-width: 487px) {

    .header-text {
        letter-spacing: .15rem;
    }

    .header-home {
        margin-left: 0;
    }

    .header-contact {
        margin-right: -.1rem;
    }

    .header-press {
        margin-left: 1rem
    }

    .main-section {
        margin: 6% 0;
    }

    .macvittie-motorcycles-text {
        font-size: 1.25rem;
        letter-spacing: 1vw;
    }
}

@media (max-width: 436px) {

    .main-section {
        margin: 9% 0;
    }

    .macvittie-motorcycles-text {
        font-size: 1rem;
        letter-spacing: 1.2vw;
    }
}

@media (max-width: 424px) {

    .macvittie-motorcycles-text {
        font-size: 1rem;
        letter-spacing: 1vw;
    }

    .main-section {
        margin: 8% 0;
    }

    .divider {
        margin: 2vh 0;
    }

}