.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}



.individual-bike-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 100%;
    

}

.main-bike-image-container {
    max-width:100%;
    margin-top: 4%;

}

.main-image {
    max-width: 100%;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery-item {
    object-fit: cover;
    max-width: 8%;
    max-height: 100%;
}

.gallery-item:hover {
    transform: scale(1.3);
}

.small-thumb {
    width: 150%;
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    border-top: .125rem solid #312313;
    border-bottom: .125rem solid #312313;

}

.bike-name {
    letter-spacing: .6vw;
}

.bike-description {
    padding: 8% 15%;
    background-color: #B7A37850;

}

.bike-model {
    letter-spacing: .6vw;
}

.macvittie-motorcycles-text {
    color:#312313;
}