.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
}



.individual-bike-container {
    display: flex;

    flex-direction: column;
    width: 60%;
    height: 80%;

    

}

.main-bike-image-container {
    max-width:100%;
    height: 80%;
    margin-top: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.main-image {
    max-width: 100%;
    max-height: 100%;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.gallery-item {
    max-width: 8%;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.gallery-item:hover {
    transform: scale(1.3);
}

.small-thumb {
    width: 150%;
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    border-top: .125rem solid #312313;
    border-bottom: .125rem solid #312313;

}

.bike-name {
    letter-spacing: 1vw;
    margin: 1rem 0
}

.bike-description {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6% 15%;
    background-color: #B7A37850;
    height: 90%;
    

}

.bike-model {
    letter-spacing: .35vw;
    margin: 1rem 0;
}

.macvittie-motorcycles-text {
    color:#312313;
}